<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--Console output appender-->

<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%-5p [%t:%c{1}]: %m - %d%n"/> 
	</layout>
</appender>

	<!--	Controller console listener		-->

<logger name="my.manager.controller">
    <!-- level debug logs -->
    <level value="info" />
    <appender-ref ref="consoleAppender"/>
</logger>

	<!--	Root console listener		-->
  
<root>
	<level value="info"/>
	<appender-ref ref="consoleAppender"/>
</root>
</log4j:configuration>